.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.drawer {
  position: absolute;
  width: 420px;
  height: 100%;
  right: 0;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;
  display: flex;
  flex-direction: column;

  .sneakerCart {
    overflow: auto;
    flex: 1;
    margin-bottom: 40px;
  }

  .drawerTitle {
    justify-content: space-between;
    display: flex;
    margin-bottom: 30px;
  }

  .btnRemove {
    width: 32;
    height: 32;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.15s ease-in-out;
    &:hover {
      opacity: 1;
    }
  }
}

.btnOrder {
  position: relative;
  width: 100%;
  height: 55px;
  background: #9dd558;
  border-radius: 18px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: lighten(#9dd558, 5%);
    .order {
      transform: translateX(5px);
    }
    .back {
      transform: scaleX(-1) translateX(5px);
    }
  }

  &:active {
    background-color: darken(#9dd558, 5%);
  }

  .order {
    position: absolute;
    right: 30px;
    top: 20px;
    transition: transform 0.2s ease-in-out;
  }
  .back {
    transform: scaleX(-1);
    position: absolute;
    left: 30px;
    top: 20px;
    transition: transform 0.2s ease-in-out;
  }
}

.emptyCart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;

  .btnOrder {
    width: 90%;
  }

  .cartImg {
    margin-bottom: 20px;
    width: 120px;
    height: 120px;
  }
  h2 {
    text-align: center;
    margin-bottom: 5px;
  }
  p {
    text-align: center;
    margin-bottom: 10px;
    opacity: 0.5;
  }
}

.sneaker {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;

  .sneakerImg {
    height: 70px;
    width: 70px;
    background-size: contain no-repeat;
    background-position: 0 -3px;
    margin-right: 20px;
    padding-bottom: 10px;
  }

  .sneakerCartTitle {
    flex: 1;
    margin-right: 20px;
    .sneakerTitle {
      font-size: 16px;
    }

    .sneakerPrice {
      font-size: 14px;
      font-weight: 800;
    }
  }
}

.cartTotal {
  .cartTotalList {
    display: block;
    margin-bottom: 40px;

    li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;

      div {
        flex: 1;
        height: 1;
        border-bottom: 1px dashed #dfdfdf;
        position: relative;
        top: -4px;
        margin: 0 7px;
      }
      p {
        font-weight: 800;
      }
    }
  }
}
