.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  border-bottom: 1px solid #eaeaea;

  img {
    margin-right: 15px;
  }

  .shopLogo {
    display: flex;

    .logoImg {
      width: 40px;
      height: 40px;
    }

    .shopTitle {
      text-transform: uppercase;
    }
    .shopDescription {
      opacity: 0.5;
    }
  }
  .navIconsList {
    display: flex;
    align-items: center;

    li {
      cursor: pointer;
      margin-right: 30px;
      .cartImg {
        width: 18px;
        height: 17.18px;
      }
      .likedImg {
        width: 17.9px;
        height: 16.26px;
      }
      .profileImg {
        width: 18px;
        height: 18px;
      }
      .navText {
        opacity: 0.5;
      }
    }
  }
}
